{% extends "network/main_layout.html" %}

{% load static %}

{% block body %}
    {% if found_chats %}
    <div class="col-12">
        <ul class="list-group">
            {% for chat in found_chats %}
            <a href="{% url 'chat' chat %}" class="side-list-item">
                <li class="list-group-item">{{ chat }}</li>
            </a>
            {% endfor %}
        </ul>
    </div>
    {% else %}
    <div class="col-12 empty_space">
        <div class="center">
            <h4>No users found, quack :(</h4>
        </div>
    </div>
    {% endif %}
{% endblock body %}